PORT=5000
MONGO_URI=mongodb+srv://<username>:<password>@<cluster-url>/<database>?retryWrites=true&w=majority
# For JWT_SECRET:
# node -e "console.log(require('crypto').randomBytes(64).toString('hex'))"
#
# For JWT_REFRESH_SECRET:
# node -e "console.log(require('crypto').randomBytes(64).toString('hex'))"

JWT_SECRET=
JWT_EXPIRES_IN=7d
SESSION_SECRET=
BACKEND_URL=http://localhost:5000
FRONTEND_URL=http://localhost:5173
CORS_ORIGINS=http://localhost:3000,http://localhost:5173
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=http://localhost:5000/api/auth/google/callback
EMAIL_USER=
EMAIL_PASS=

EMAIL_LOGO_URL=http://localhost:5000/public/logo.svg
FASTAPI_INTERNAL_URL=http://localhost:8000
FASTAPI_HEALTH_PATH=/health
FASTAPI_FOLDER_PATH=../fastapi
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_PROFILE_PICTURE_FOLDER=widitutor/profile-pictures
# For internal API secret, generate with: openssl rand -hex 32
# Must be the SAME in FastAPI .env file!
INTERNAL_API_SECRET=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_PRICE_PRO_MONTHLY=
STRIPE_PRICE_PRO_YEARLY=
